p1 { background: #D9FFAD;     color: green; padding: 2px; }
p2 { background: #f97f7f;     color: reed; padding: 2px; }
p3 { background: #EDF505;     color: black; padding: 2px; }
p4 { background: #D9FFAD;     color: green; padding: 2px; }